/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
  width: 100vw;
  height: 100vh;
  padding-bottom: 10vh;
}

h1 {
  font-size: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50vw;
  transform: translateX(-50%);
}

.images-list div {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 18rem;
  margin: 20px;
}

.new-image-page .row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-category-page .row {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories-page .row .categories-list{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.tags-page .row .tags-list{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.categories-page .btn {
  position: fixed;
  left: 30px;
  top: 90px;
}

.tags-page .row {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-card {
  margin: 30px;
  background-color: aliceblue;
  padding: 30px 60px;
  position: relative;
}

.link-card .div-buttons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}

.link-card:hover .div-buttons {
  display: flex;
  flex-direction: column;
}


.div-buttons i {
  margin: 5px;
}

.link-card:hover {
  background-color: rgb(177, 219, 255);
  text-decoration: none;
}

.image-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.image-page .image-full {
  width: 80vw; 
  height: 80vh;
}

.image-full img {
  display: block;
    max-width: 100%;
    max-height: 100%;
}

.image-full {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 60vh;
}


.card-details {
  text-align: left;
  padding-left: 30px;
  padding-top: 20px;
  margin-bottom: 30vh;
}

.buttons {
  position: fixed;
  left: 30px;
  top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons .btn {
  margin: 10px;
}

.category-tags {
  position: absolute;
  right: 30px;
  top: 90px;
  font-size: 20px;
}

.tags-badges {
  position: absolute;
  right: 30px;
  top: 120px;
}

.tags-badges a {
  margin: 5px;
}

.list-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image-card {
  width: 300px;
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform .3s;
  margin: 2px;
}

.image-card:hover {
  transform: scale(1.2) ;
}

.images-list div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.images-list {
  display: flex;
  justify-content: center;
  align-items: center;
}